.container {
    margin-top: 5px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.student-info {
    background-color: #aff9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

    .student-info h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .student-info p {
        font-size: 0.8rem;
        line-height: 1.5;
    }

    .student-info hr {
        margin-top: 20px;
        border-color: #333; /* Daha koyu çizgi rengi */
        border-width: 3px; /* Çizgi kalınlığı artırıldı */
        border-style: solid; /* Çizgi sabitlendi */
        width: 100%; /* Çizgi tam genişlikte */
    }

.course-selection {
    overflow-x: auto; /* Yatay kaydırma */
    overflow-y: auto; /* Dikey kaydırma */
    max-height: 400px; /* Dikey kaydırma gerektiğinde sınır */
    border: 1px solid #ddd; /* Tablo çerçevesi */
    border-radius: 8px; /* Köşe yuvarlama */
    padding: 10px; /* İç boşluk */
    }

.course-selection table {
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
        border-collapse: collapse; /* Hücre kenarlarını birleştir */
}

    .course-selection th,
    .course-selection td {
    text-align: center;
    padding: 12px;
        border: 1px solid #ddd; /* Hücre kenarlarına kenarlık */
}

.course-selection thead {
    background-color: #343a40;
    color: white;
}

.course-selection tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.course-selection tbody tr:hover {
    background-color: #e9ecef;
}

.form-group {
    margin-top: 20px;
    text-align: center;
}

.alert-warning {
    text-align: center;
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border-radius: 8px;
}
.table-container {
    border: 2px solid #343a40; /* Çerçeve rengi */
    border-radius: 8px; /* Köşe yuvarlatma */
    padding: 15px; /* İç boşluk */
    margin-top: 20px; /* Üstten boşluk */
    background-color: #ffffff; /* Arka plan rengi */
}
